﻿@model BarsGroupInternship.Models.Reader

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <title>AddReader</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>Name: @Html.TextBoxFor(x => x.Name) </p>
        <p>Surname: @Html.TextBoxFor(x => x.Surname)</p>
        <input type="submit" value="Submit" />
    }
</body>
</html>
