﻿@model IEnumerable<BarsGroupInternship.Models.Book>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBooksList</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "BookCreate")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.ActionLink("Edit", "BookEdit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "BookDelete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
