﻿@model IEnumerable<BarsGroupInternship.Models.Reader>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetReadersList</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "ReaderCreate")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.ActionLink("Edit", "ReaderEdit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "ReaderDelete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
