﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Librarian</title>
</head>
<body>
    <div> 
        @Html.ActionLink("List of books", "GetBooksList") <br/>
        @Html.ActionLink("List of readers", "GetReadersList")
    </div>
</body>
</html>
