﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Test
        @Html.ActionLink("To Librarian", "Index", "Librarian")
        @Html.ActionLink("To Reader", "Index", "Reader")
    </div>
</body>
</html>
